Source: node-combine-source-map
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Bastien Roucariès <rouca@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-convert-source-map <!nocheck>
 , node-inline-source-map <!nocheck>
 , node-lodash-packages <!nocheck>
 , node-path-is-absolute <!nocheck>
 , node-source-map <!nocheck>
 , node-tap <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-combine-source-map
Vcs-Git: https://salsa.debian.org/js-team/node-combine-source-map.git
Homepage: https://github.com/thlorenz/combine-source-map
Rules-Requires-Root: no

Package: node-combine-source-map
Architecture: all
Depends: ${misc:Depends}
 , node-convert-source-map
 , node-inline-source-map
 , node-lodash-packages
 , node-path-is-absolute
 , node-source-map
Description: Add source maps of multiple files and combine
 Add source maps of multiple files, offset them and then combine
 them into one source map.
 .
 Source map provides way of mapping code within a compressed file back to
 it’s original position in a source file, hence improving debugging.
 .
 Node.js is an event-based server-side JavaScript engine.
